<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cornor.dao.UserMapper">
    <resultMap id="userMap" type="com.cornor.dao.User">
        <id property="id" column="_id"></id>
        <result property="name" column="_name"></result>
        <result property="age" column="_gender"></result>
    </resultMap>
    <select id="selectUsers" resultMap="userMap">
        select * from user
    </select>
</mapper>